html {
	box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit;}

body {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	
	font-family: Cuprum, Arial, sans-serif;
	font-weight: 400;
	word-wrap: break-word;
	letter-spacing: normal;

	background-position: top center;
	background-repeat: no-repeat;
}

a {
	color: inherit;
	text-decoration: none;
	
	/*outline: none;*/
}

a:hover {
	outline: none;
}

/*a:focus:not(:active):not(:hover) {
	box-shadow: inset 0 0 4px 4px rgb(0, 150, 0);
}*/

/* Chrome, Edge, Safary, Firefox */
/*@supports (display: -webkit-flex) {
	a:focus:not(:active):not(:hover) {
		box-shadow: 0 0 4px 4px rgb(0, 150, 0);
	}
}*/

img {
	max-width:  100%; /* Чтобы изображение не выпадало из родителя, если его ширина окажется больше, чем ширина родителя */
	height: auto; /* Для того, чтобы при max-width: 100%; сохранялись пропорции */
}

.visually-hidden:not(:focus):not(:active),
.visually-hidden:active,  /* Это необходимо для того, чтобы при нажатии на label соответствующий ему input[type="radio"] не появлялся */
.visually-hidden:checked, /* Это необходимо для того, чтобы выбранный input[type="radio"] не появлялся */
.visually-hidden:not(:checked),  /* Это необходимо для того, чтобы невыбранный input[type="radio"] не появлялся */
.input[type="checkbox"].visually-hidden,
.input[type="radio"].visually-hidden,
.man-checkbox:checked + .manufact-label .checkbox-off-icon, 
.supp-type-radio:checked + .supp-type-label .radio-off-icon,
.man-checkbox:not(:checked) + .manufact-label .checkbox-on-icon, 
.supp-type-radio:not(:checked) + .supp-type-label .radio-on-icon {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стиль общий для всех кнопок и "кнопок" */
.button {
	text-align: center;
	color: #ffffff;

	border: none;
	
	/*outline: none;*/
	
	cursor: pointer;
}

.button:hover {
	outline: none;
}

/*.button:focus:not(:active):not(:hover) {
	box-shadow: 0 0 4px 4px rgb(0, 150, 0);
}*/

/* Часто встречающийся стиль кнопки и "кнопки" */
.common-btn {
	display: inline-block;

	width: 135px;
	min-height: 38px;
	padding-top: 11px;
	padding-bottom: 9px;
	
	font-size: 14px;
	line-height: 18px;	
	text-transform: uppercase;
	
	vertical-align: top;

	border-radius: 3px;
}

/* Стиль практически для всех списков сайта */
.clean-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	
	list-style: none;
}

.index-main {
	padding-top: 59px;
}

.page-header {
	padding-bottom: 60px;
	
	background-color: #f1f5f7;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;	
}

.top-header {
	background-color: #293449;	
}

.logo-buy-wrapper {
	min-width: 940px;
	width: 940px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.width-940px {
	width: 940px;
}

.logo-column {
	max-width: 220px;
	
	overflow: hidden;	
}

.align-cont-fs {
	align-content: flex-start;
}

.marg-bottom--5px {
	margin-bottom: -5px;
}

.logo {
	position: relative;
	
	display: block;
	width: 220px;
	margin-bottom: 5px;
	
	background-color: #ee3643;
}

/* Делаем псевдоэлементом, а не рамкой и не тенью для того, чтобы верхний логотип не растягивал top-header на высоту, превышаюшую макетную. */
.logo::after {
	content: '';
	
	position: absolute;
	bottom: -5px;
	left: 0;
	
	display: block; /* Для того, чтобы псевдоэлемент разместился точно под надписью логотипа, чтобы не вычислять left */	
	width: 220px;
	height: 5px;
	background-color: rgb(182, 36, 47);
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:hover::after {
	background-color: rgb(155, 27, 37);
}

.logo:active {
	background-color: #ba2732;
	outline: none;
}

.logo:active::after {
	background-color: rgb(143, 24, 33);
}

/*.logo:focus:not(:active):not(:hover) {
	box-shadow: inset 0 0 4px 4px rgb(0, 150, 0);
}*/

.header-logo {
	padding-top: 13px;
	padding-bottom: 5px;
	padding-left: 54px;
	padding-right: 55px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.header-logo {
		padding-bottom: 6px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.header-logo {
		padding-bottom: 5px;
	}
}

.buyer-panel {
	width: 720px;
}

.just-cont-fe {
	justify-content: flex-end;
}

.buyer-panel :nth-child(n) {
	min-height: 42px;
}

.search-form {
	position: relative;
}	

.search-label {
	position: absolute;
	left: 17px;	
}

.search-field {
	width: 270px;
	padding-top: 0px;
	padding-left: 49px;
	
	font-size: 17px;
	line-height: 18px;
		
	background-color: #293449;
	border-style: none;	
	border-radius: 0;
	outline: none;
}

/* webkit: Safary, Chrome, Opera */
.search-field::-webkit-input-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;	
}

/* Firefox 19+ */
.search-field::-moz-placeholder {
	font-size: 17px;

	opacity: 1;
} 

/* Firefox 19+ */
.search-field:focus::-moz-placeholder {
	font-size: 17px;
	
	opacity: 0;
} 

/* IE */
.search-field:-ms-input-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

/* Edge */
.search-field::-ms-input-placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;	
}

/* IE */
.search-field::-ms-clear {  display: none; width : 0; height: 0; }
.search-field::-ms-reveal {  display: none; width : 0; height: 0; }

/* Chrome, Edge, Safary */
.search-field::-webkit-search-decoration,
.search-field::-webkit-search-cancel-button,
.search-field::-webkit-search-results-button,
.search-field::-webkit-search-results-decoration { display: none; }

.search-field:hover {
	color: #ffffff;
	
	background-color: #212a3a;
}

.search-field:hover + .search-label .search-icon {
	fill-opacity: 1;
}

/* Для того, чтобы при потери наведения и фокуса текст, набранный пользователем не оставался темным на темном фоне */
.search-field:not(:hover):not(:focus) {
	color: #ffffff;
}

.search-field:focus {	
	color: #000000; /* Возвращаем темный цвет тексту */
	
	background-color: #ffffff;
}

.search-field:focus + .search-label .search-icon {
	fill: #ee3643;
	fill-opacity: 1;
}

.buyer-button {
	width: 150px;
	
	font-size: 17px;
	line-height: 18px;
	border-radius: 0;	
}

.buyer-button:focus {
	z-index: 1;
}

.bookmarks-btn,
.cart-button {
	position: relative;
	background-color: #293449;
}

.bookmarks-btn {
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 44px;
	padding-right: 27px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.bookmarks-btn {
		padding-top: 12px;
		padding-bottom: 11px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.bookmarks-btn {
		padding-top: 11px;
		padding-bottom: 12px;	
	}
}

.bookmarks-btn:hover,
.cart-button:hover {
	background-color: #212a3a;	
}

.bookmarks-btn:hover .bookmark-icon {
	fill-opacity: 1;
}

.bookmarks-btn:active,
.cart-button:active {
	color: rgba(255, 255, 255, 0.6);
	
	background-color: #161d29;
}

.bookmarks-btn:active .bookmark-icon {
	fill-opacity: 0.3;
}

.bookmark-icon {
	position: absolute;
	top: -1px;
	left: 17px;
}

.cart-button {
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 47px;
	padding-right: 27px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-button {
		padding-top: 12px;
		padding-bottom: 11px;
		padding-left: 46px;
		padding-right: 28px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.cart-button {	
		padding-top: 11px;
		padding-bottom: 12px;
		padding-left: 47px;
		padding-right: 27px;
	}	
}

.active {
	background-color: #ee3643;
}

.cat-cart-btn {
	padding-left: 50px;
	padding-right: 24px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cat-cart-btn {
		padding-left: 49px;
		padding-right: 25px;	
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.cat-cart-btn {	
		padding-left: 50px;
		padding-right: 24px;	
	}	
}


.cart-button:hover .cart-icon {
	fill-opacity: 1;
}

.cart-button:active .cart-icon {
	fill-opacity: 0.3;
}

.cart-button .cart-icon {
	position: absolute;
	top: -2px;
	left: 18px;
}

.order-button {
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 21px;
	padding-right: 21px;
	
	background-color: #63a63e;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.order-button {
		padding-top: 12px;
		padding-bottom: 11px;
		padding-left: 20px;
		padding-right: 22px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.order-button {	
		padding-top: 11px;
		padding-bottom: 12px;
	}
}

.order-button:hover {
	background-color: #5fbb2d;
}

.order-button:active {
	color: rgba(255, 255, 255, 0.5);
	
	background-color: #518534;	
}

.middle-header {
	padding-top: 46px;
	padding-bottom: 40px;
	padding-left: 53px;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.middle-header {
		padding-bottom: 39px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.middle-header {
	}
}

.width-537px {
	width: 537px;
}

.description-p {
	width: 197px;
	min-height: 60px;
	margin-top: 2px;
	margin-bottom: 0px;	

	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.description-p {
		margin-top: 3px;		
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.description-p {
		margin-top: 2px;	
	}
}

.compl-string {
	display: inline-block;
	
	vertical-align: top;	
}

.width-197px {
	width: 197px;
}

.contacts {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 270px;
}

.links {
	width: 270px;
	min-height: 45px;
	padding-top: 9px;
	padding-bottom: 6px;
	padding-left: 68px;
	padding-right: 45px;
	margin-bottom: 3px;
		
	font-size: 21px;
	line-height: 21px;
	letter-spacing: 0.42px;
	text-align: center;

	border: solid 3px #ffffff;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.links {
		padding-top: 10px;
		padding-bottom: 5px;
		padding-left: 68px;
		padding-right: 45px;		
		margin-bottom: 4px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.links {
		padding-top: 9px;
	}
}

.header-tel-a {
	position: relative;
	
	width: 152px;
	
	color: #e9292a;
	
	letter-spacing: normal;	
}

.header-tel-a:active {
	color: #b92222;
}

.header-tel-a::before {
	content: '';
	
	position: absolute;
	
	top: 1px;
	left: -56px;
	
	width: 19px;
	height: 19px;
	
	background-image: url(../img/icon-phone.svg);
	background-position: 0 0;
	background-repeat: no-repeat;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.header-tel-a::before {
		top: 0;		
		left: -56px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.header-tel-a::before {
		left: -55px;
	}	
}

.address {
	display: block;
	padding-left: 1px;

	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #32425c;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.address {
		padding-left: 0;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.address {
		padding-left: 1px;
	}	
}

.padd-left-51px {
	padding-left: 51px;	
}

.unathorized-nav,
.athorized-nav {
	display: flex;
}

.unathorized-nav {
	margin-left: 18px;
}

.user-button {	
	min-height: 45px;
	
	font-size: 21px;
	line-height: 21px;

	color: #000000;
	
	background-color: #ffffff;
}

.user-button:hover {
	color: #ee3643;
}

.user-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-button {
	position: relative;
	width: 121px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 44px;
	padding-right: 22px;
	margin-right: 10px;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.login-button {
		padding-top: 12px;
		padding-bottom: 10px;	
		padding-left: 43px;
		padding-right: 23px;		
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.login-button {	
		padding-top: 11px;
		padding-bottom: 11px;		
		padding-left: 44px;
		padding-right: 22px;		
	}
}

.login-button:hover:not(:active) .login-icon {
	fill: #32425c;
}

.login-icon {
	position: absolute;
	left: 14px;
	top: 14px;
}

.reg-button {
	width: 150px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-right: 23px;
	padding-left: 21px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.reg-button {
		padding-top: 12px;
		padding-bottom: 12px;		
		padding-left: 22px;
		padding-right: 22px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.reg-button {
		padding-top: 11px;
		padding-bottom: 13px;		
		padding-left: 23px;
		padding-right: 21px;		
	}
}

.authorized-nav {

}

.prof-logout-btn {
	width: 299px;
	padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 13px;
	padding-right: 10px;
}

.profile-a {
	margin-right: 36px;
}

.profile-a:hover .user-icon {
	fill: #32425c;
}

.profile-a:active .user-icon {
	fill: #c5c5c5;	
}

.profile-a:active .user-name {
	color: rgba(0, 0, 0, 0.3);
}

.user-icon {
	margin-right: 13px;
}	

.user-name {
	width: 186px;
	margin-top: -1px;

	color: #000000;
}

.logout-a {
	margin-top: 1px;
}

.logout-a:hover .logout-icon {
	fill: #32425c;
}

.logout-a:active .logout-icon {
	fill: #c5c5c5;
}

.personal-nav {
	display: flex; /* Иначе у горизонтального списка не отображаются бУллиты */
	margin-top: 8px; /* Почему-то по-умолчанию около 16px; */
	margin-bottom: 0; /* Почему-то по-умолчанию около 16px; */
	margin-left: 17px;
	padding-left: 0; /* Почему-то по-умолчанию около 40px; */
	
	color: #32425c;
}

.personal-nav {
	margin-top: 7px;
	
	font-size: 16px;
	line-height: 18px;	
}

.pers-nav-a {
	text-decoration: underline;
}

.pers-nav-a:hover {
	color: #ee3643;
}

.pers-nav-a:active {
	color: rgba(0, 0, 0, 0.3);
}

.pers-nav-a:first-child {
	max-width: 121px;
	margin-right: 14px;
}

.bull {
	margin-top: 1px;
	font-family: Arial, sans-serif;
}

.pers-nav-a:last-child {
	max-width: 121px;
	margin-left: 13px;
}

.site-navigation {
	position: relative;
	
	padding-left: 19px;
	padding-right: 14px;
	
	font-size: 17px;
	line-height: 17px;
	
	background-color: #32425c;
}

.site-navigation::before {
	content: '';
	
	position: absolute;
	bottom: 0;
	left: 0;

	width: 940px;
	height: 5px;
	background-color: #293449;
}

.site-nav-a:hover {
	background-color: #293449;
}

.site-nav-a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

.site-nav-a:active,
.site-nav-a:focus {
	z-index: 1;
}

/* Задаем усредненные пэддинги для пунктов меню, которые будут добавлены в будущем */
.site-nav-a {
	display: block; /* Для того, чтобы можно было задать вертикальные пэддинги ссылкам (см. лекцию) */
	max-width: 185px;
	padding-top: 20px;
	padding-bottom: 23px;
	padding-left: 31px;
	padding-right: 31px;
	
	color: #ffffff;
}

/* Обращаемся к пункту списка не как к nth-child, а по имени класса, иначе при добавлении нового пункта между i и i+1 нумерация, начиная с i+1 сдвинется и стили для i+1
применятся не к нему, а к вновь добавленному пункту. Это касается боковых пэддингов ссылок, так как они разные у каждого пункта меню. Также нельзя использовать last-child, 
так как могут добавить в конец и заданные для последнего усредненные пэддинги применятся предпоследнему (и наоборот), так как последний при добавлении нового станет предпоследним. */

.main-a {
	padding-left: 33px;
	padding-right: 34px;
}

.company-a {
	padding-left: 30px;
	padding-right: 30px;
}

.catalog-a {
	padding-left: 29px;
	padding-right: 29px;
}

.news-a {
	padding-left: 31px;
	padding-right: 31px;
}

.special-offers-a {
	padding-left: 28px;
	padding-right: 29px;
}

.delivery-a {
	padding-left: 33px;
	padding-right: 33px;
}

.contacts-a {
	padding-left: 30px;
	padding-right: 33px;
}

.just-cont-sb {
	justify-content: space-between;
}

.marg-bottom--20px {
	margin-bottom: -20px;
}

.marg-bottom-20px {
	margin-bottom: 20px;
}

.promo-item {
	position: relative;

	width: 300px;
	min-height: 123px;

	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 22px;
}

.marked-item::before {
	content: '';
	
	position: absolute;
	z-index: 1;
	top: -13.8pt;
	right: -24.4pt;
	
	width: 84px;
	
	border: 28px solid transparent;
	border-bottom-color: #ee3643;
	transform: rotate(45deg);
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.marked-item::before {
		top: -18px;
		right: -32px;
	}
}

.marked-item::after {
	content: 'new';
	
	position: absolute;
	z-index: 2;
	top: 33px;
	right: -47px;
	
	width: 84px;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	
	transform: rotate(42.8deg) scale(1.05, 1.3) skew(0, 1.1deg);
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.marked-item::after {
		top: 35px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.marked-item::after {
		top: 10px;
		right: 6px;
		
		width: 29px;
		height: 20px;
		padding-top: 1px;
		padding-bottom: 9px;
		
		text-align: center;
		
		background-color: rgb(238, 51, 65);
	}
}

.three-pr-items .promo-item:nth-child(1) {
	background-color: #f6b22d;
	background-image: url(../img/icon-1.svg);
	background-position: 213px 31px;
	background-repeat: no-repeat;	
}

.three-pr-items .promo-item:nth-child(2) {
	background-color: #3bbce3;
	background-image: url(../img/icon-2.svg);
	background-position: 197px 33px;
	background-repeat: no-repeat;
}

.three-pr-items .promo-item:nth-child(3) {
	background-color: #dc91d8;
	background-image: url(../img/icon-3.svg);
	background-position: 191px 31px;
	background-repeat: no-repeat;	
}

.promo-item-capt {
	display: block;
	width: 150px;
	margin-top: -1px;
	margin-bottom: 12px;
	margin-left: 1px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.promo-button {
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 3px;
	
	background-color: rgba(0, 0, 0, 0.1);
}

.gallary-slider {
	position: relative;
	
	width: 620px;
	height: 266px;
}

/*.gall-radio:focus:not(:active) ~ .gallary-slide-switch .gall-label {
	box-shadow: 0 0 4px 4px rgb(0, 150, 0);
}*/

.gall-label {
	position: absolute;
	top: 114px;

	z-index: 2;

	width: 25px;
	min-height: 40px;

	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;	
	
	background-repeat: no-repeat;	
	
	cursor: pointer;
}

.gall-label:active,
.gall-label:focus {
	outline: 0;
	/*box-shadow: none;*/
}

.gall-label-1 {
	left: 22px;
	
	background-position: 2px 0;

	background-image: url(../img/icon-left.svg);
}

.gall-label-2 {
	right: 19px;

	background-position: 1px 0;

	background-image: url(../img/icon-right.svg);
}

.gall-slide-keeper {
	background-color: #b5b8ba;
}

.gall-slide-keeper::before {
	content: '';
	
	position: absolute;
	top: 220px;
	left: 295px;
	
	z-index: 2;

	display: block;
	width: 10px;
	height: 10px;
  
	background-color: #ffffff;
	border-radius: 50%;	
}

.gall-slide-keeper::after {
	content: '';	
	
	position: absolute;
	top: 220px;
	left: 315px;

	z-index: 2;

	display: block;	
	
	width: 10px;
	height: 10px;
  
	background-color: #ffffff;
	border-radius: 50%;	
}

.gall-radio-1:checked ~ .gall-slide-keeper::before,
.gall-radio-2:checked ~ .gall-slide-keeper::after {
	background-color: #ee3643;
	border: 2px solid #ffffff;
}

.gallary-slide {
	z-index: 1;
	
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;	
	margin-right: 0;
}

.perfo-slide {
	background-color: rgb(217, 200, 182);
}

.drill-slide {
	background-color: rgb(161, 118, 109);	
}

.gall-radio-1:checked ~ .gall-slide-keeper .perfo-slide,
.gall-radio-2:checked ~ .gall-slide-keeper .drill-slide {
	display: flex;
}

.gall-figure {
	width: 620px; 
	height: 266px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
}

.gall-fig-capt {
	position: absolute;	
	top: 23px;
	left: 24px;
	
	width: 568px;
	
	color: #ffffff;
	
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.gall-fig-capt .heading {
	display: block;
	margin-bottom: 1px;
	
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;	
	text-transform: uppercase;
}

.gall-fig-capt .slogan {
	display: block;
	padding-left: 1px;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.slider-btn {
	width: 195px;
}

.catalog-gall-a {
	position: absolute;
	left: 25px;
	bottom: 22px;
	z-index: 2;

	padding-left: 49px;
	padding-right: 44px;
	
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;	
}

.red-button {
	background-color: #ee3643;
}

.red-button:hover {
	background-color: #ca2c37;
}

.red-button:active {
	background-color: #ba2732;
}

.two-pr-items .promo-item:first-child {
	background-color: #8ed78f;
	background-image: url(../img/icon-4.svg);	
	background-position: 196px 26px;
	background-repeat: no-repeat;	
}

.two-pr-items .promo-item:last-child {
	background-color: #ffc047;
	background-image: url(../img/icon-5.svg);
	background-position: 191px 32px;
	background-repeat: no-repeat;
}

.promo-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.index-h2-panel,
.catalog-h1-panel {
	min-height: 89px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 26px;
	padding-left: 28px;
	padding-right: 24px;
}

.h2-column {
	width: 520px;
}

.button-column {
	width: 253px;	
}

.popular-products {
	margin-top: 53px;
	margin-bottom: 21px;
}

.index-h2-panel {
	background-color: #f9f5f0;
}

.popular-h2,
.catalog-h1 {
	width: 520px;	
	margin-top: 5px;
	margin-bottom: 3px;
	
	font-size: 30px;
	font-weight: normal; /* Переопределяем стиль заголовка h2 */
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-btn {
	width: 253px;
	padding-left: 53px;
	padding-right: 53px;
}

/* Задаем высоту списку, чтобы не забыть в будущем увеличить ее после добавления новых пунктов списка для align-content: space-between; */
.pop-prod-list {
	min-height: 318px;
}

.product-item {
	position: relative;
}

.product-item:hover {
	z-index: 2;
}

.product-card {
	width: 220px;
	padding-bottom: 20px;
	
	text-align: center;

	overflow: hidden;	
	
	border: 1px solid #eaeaea;
}

.just-cont-c {
	justify-content: center;
}

.product-card:hover .product-img,
.product-card:not(:hover) .cart-add-btn,
.product-card:not(:hover) .bookmarks-add-btn {
	display: none;
}

.product-card:hover {
	border: none;
	padding-top: 1px;
	padding-bottom: 21px;
	box-shadow: 0px 10px 37px 0 rgba(41, 52, 73, 0.5);
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.product-card:hover {
		box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	}
}

.product-img {	
	margin-bottom: 8px;
	width: 218px;
	min-height: 170px;
	
	background-color: rgb(48, 116, 153);
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.product-img {	
		margin-bottom: 9px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.product-img {	
		margin-bottom: 8px;
	}	
}

.pt-sans-bold {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
}

.prod-card-h3 {	
	width: 157px;
	margin-top: 0px;
	margin-bottom: 11px;
	margin-right: 1px;
	
	font-size: 18px;
	line-height: 20px;
}

.cart-add-btn {	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 44px;
	margin-top: 44px;
	margin-bottom: 7px;
	margin-right: 1px;
	
	overflow: hidden;
	
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 0 #367315;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-add-btn {
		padding-top: 11px;
		padding-bottom: 9px;
		padding-left: 21px;
	}
}

.cart-add-btn:hover {
	background-color: #5fbb2d;
}

.cart-add-btn:active {
    padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 11px;
	padding-right: 45px;
	
	background-color: #518534;
/*	box-shadow: none;*/

	outline: none;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-add-btn:active {
		padding-top: 11px;
		padding-bottom: 9px;
		padding-left: 12px;
		padding-right: 44px;
	}
}

.cart-add-btn:active:not(:hover) {
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 44px;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-add-btn:active:not(:hover) {
		padding-top: 11px;
		padding-bottom: 9px;		
	}
}

.cart-add-btn .cart-icon {
	margin-top: 1px;
	margin-left: -9px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-add-btn .cart-icon {
		margin-top: 0;
		margin-bottom: 2px;
		margin-left: -9px;
	}
}

.cart-add-btn:hover .cart-icon,
.cart-add-btn:active .cart-icon {
	fill-opacity: 1;
}

.cart-add-btn:active .cart-icon {
	margin-left: -21px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.cart-add-btn:active .cart-icon {
		margin-left: 0;
	}
}

.ca-btn-capt {
	width: 42px;
}

.bookmarks-add-btn {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
	margin-bottom: 51px;
	margin-right: 1px;

	color: #32425c;
	
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.bookmarks-add-btn {
		padding-top: 8px;
		padding-bottom: 6px;
		padding-right: 2px;
		margin-bottom: 52px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.bookmarks-add-btn {
		padding-right: 4px;
		margin-bottom: 51px;		
	}	
}

.bookmarks-add-btn:hover,
.bookmarks-add-btn:active {
	border-color: #32425c;
}

.bookmarks-add-btn:active {
	padding-top: 6px;
	padding-bottom: 8px;
	padding-right: 6px;

	opacity: 0.3;

	outline: none;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.bookmarks-add-btn:active {
		padding-top: 8px;
		padding-bottom: 6px;
		padding-right: 2px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.bookmarks-add-btn:active {
		padding-right: 5px;		
	}
}

.bookmarks-add-btn:active:not(:hover) {
	padding-top: 7px;
	padding-bottom: 7px;	
	padding-right: 4px;	
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.bookmarks-add-btn:active:not(:hover) {
		padding-top: 8px;
		padding-bottom: 6px;		
		padding-right: 2px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.bookmarks-add-btn:active:not(:hover) {
		padding-top: 8px;
		padding-bottom: 6px;		
		padding-right: 4px;		
	}
}

.old-price {
	display: block;
	height: 12px;
	margin-bottom: 17px;
	margin-left: 4px;
	
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase; 
	text-decoration: line-through;
	color: #a9a9a9;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.old-price {
		margin-bottom: 16px;
	}
}

.prod-detail-btn {
	position: relative;

	width: 123px;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 22px;
	margin-right: 10px;

	font-size: 17px;
	font-weight: inherit;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.prod-detail-btn {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 21px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.prod-detail-btn {
		padding-left: 22px;
	}	
}

.prod-detail-btn:active {
	padding-top: 8px;
	padding-bottom: 12px;
	padding-left: 20px;
	
	outline: none;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.prod-detail-btn:active {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 21px;
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.prod-detail-btn:active {
		padding-left: 22px;
		padding-right: 8px;
	}
}

.prod-detail-btn:active:not(:hover) {
	padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 22px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.prod-detail-btn:active:not(:hover) {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 21px;				
	}
}

/* Firefox */
@-moz-document url-prefix() {
	.prod-detail-btn:active:not(:hover) {
		padding-left: 22px;
	}		
}

.prod-detail-btn:hover::after {
	background-color: #ca2c37;
}

.prod-detail-btn:active::after {
	background-color: #ba2732;
}

.prod-detail-btn::after {
	content: '';
	
	position: absolute;
	bottom: 6px;
	right: -9.33pt;

	width: 19.83pt; 
	height: 19.83pt; /* ~=26.87px - округление числа (38 / (корень из 2)) (определение длины стороны квадрата по длине диагонали или катета прямоугольного равнобедренного треугольника) */
	/* указал в пунктах, так как дробные значения пунктов не игнорируются, а значит указать в пунктах можно более точно, чем в пикселях */
	background-color: #ee3643;
	transform: rotate(45deg);
}

/* Firefox */
@-moz-document url-prefix() {
	.prod-detail-btn::after {
		bottom: 6px;
	}
}

.pop-manufact-rs {
	margin-bottom: 85px;
}

.manufact-item {
	position: relative;
	
	width: 220px;
}

.manufact-a {
	display: block;
	width: 220px;	
	min-height: 145px;

	text-align: center;
	
	border: 1px solid #eaeaea;	
}

.manufact-a:hover {
	z-index: 1;
	
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufact-a:hover,
.manufact-a:active {
	padding-top: 1px;
	padding-bottom: 1px;
	
	border: none;
}

.manufact-a:active {
	opacity: 0.3;
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.bosch-a {

}

.makita-a {
	padding-right: 1px;
}

.dewalt-a {

}

.interskol-a {
	padding-right: 2px;	
}

.hitachi-a {
	padding-left: 5px;
}

.lg-a {
	padding-right: 3px;
}

.aeg-a {
	padding-left: 1px;
}

.metabo-a {
	padding-left: 4px;
}

.manufact-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bosch-img {
	width: 126px;
	min-height: 37px;
	
	margin-top: 52px;
	margin-bottom: 54px;
	
	background-color: rgb(254, 52, 45);
}

.makita-img {
	width: 123px;
	min-height: 40px;
	margin-top: 49px;
	margin-bottom: 54px;

	background-color: rgb(253, 58, 53);	
}

.dewalt-img {
	width: 146px;
	min-height: 44px;	
	margin-top: 47px;
	margin-bottom: 52px;
	
	background-color: rgb(255, 213, 44);	
}

.interskol-img {
	width: 200px;
	min-height: 88px;	
	margin-top: 20px;
	margin-bottom: 35px;
	
	background-color: rgb(239, 41, 19);
}

.hitachi-img {
	width: 169px;
	min-height: 31px;	
	margin-top: 57px;
	margin-bottom: 55px;
	
	background-color: rgb(255, 47, 22);
}

.lg-img {
	width: 121px;
	min-height: 73px;	
	margin-top: 34px;
	margin-bottom: 36px;

	background-color: rgb(214, 36, 48);
}

.aeg-img {
	width: 151px;
	min-height: 96px;	
	margin-top: 22px;
	margin-bottom: 25px;
	
	background-color: rgb(246, 62, 50);
}

.metabo-img {
	width: 204px;
	min-height: 69px;	
	margin-top: 33px;
	margin-bottom: 41px;
	
	color: #ffffff;
	
	background-color: rgb(32, 83, 80);
}

.services-sect {
	padding-top: 68px;
	padding-bottom: 98px;
	background-color: #f4f7f9;
}

.width-960px {
	width: 960px;
}

.padd-left-10px {
	padding-left: 10px;
}

.lower-sections-h2 {
	margin-top: -3px;
	margin-bottom: 26px;
	
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;	
	color: #000000;
}

.lower-sections-p {
	margin-top: 0;
	margin-bottom: 24px;
	font-family: 'PT Sans', Arial, sans-sarif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.services-h2,
.services-p {
	width: 399px;
}

.services-slider {
	margin-top: 69px;
}

.align-items-fs {
	align-items: flex-start;
}

.serv-slide-switch {
	position: relative;
	
	flex-direction: column;
	justify-content: stretch;
	margin-left: -81px;
}

/* Chrome, Edge, Safary, Firefox */
@supports (display: -webkit-flex) {
	.serv-slide-switch {	
		margin-left: 0;
	}
}

/*.service-radio:focus ~ .serv-slide-switch:not(:active):not(:hover) {
	box-shadow: 0 0 4px 4px rgb(0, 150, 0);	
}*/

.serv-slide-switch:before {
	content: '';

	position: absolute;
	z-index: 1;
	top: -44px;
	right: -100px;
	
	width: 100px;
	min-height: calc(100% + 95px);
	
	background-color: transparent;
	border-radius: 25% / 90%;
	box-shadow: -1px 0 6px 3px rgba(0, 0, 0, 0.35);
}

.serv-slide-switch:after {
	content: '';

	position: absolute;
	z-index: 2;
	top: -55px;
	right: -110px;
	
	width: 110px;
	min-height: calc(100% + 115px);
	background-color: #f4f7f9;
}

.service-label {
	width: 240px;
	min-height: 62px;
	padding-top: 13px;
	padding-bottom: 17px;	
	padding-left: 22px;
	padding-right: 22px;	
	
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	/*box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;*/
	border-radius: 0;
	cursor: pointer;
}

.service-label:active {
	outline: none;
}

.service-label:hover {
	background-color: #293449;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	/*box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;*/	
}

.delivery-radio:checked ~ .serv-slide-switch .service-label[for="delivery"],
.warranty-radio:checked ~ .serv-slide-switch .service-label[for="warranty"],
.credit-radio:checked ~ .serv-slide-switch .service-label[for="credit"] {
	color: #32425c;
	
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	/*box-shadow: inset 0 -1px 0 0 #ffffff, inset 0 -1px 0 0 #ffffff;*/
	outline: 0; /* Для отмены аутлайна при дабл-клике */
}

.delivery,
.warranty,
.credit {
	z-index: 3;
	
	display: none;
	width: 619px;
	min-height: 284px;
	margin-bottom: -98px;
	
	background-repeat: no-repeat;
	background-color: #f4f7f9;
}

.delivery {
	background-position: 140px 23px;
	background-image: url("../img/lorry.png");
}

.warranty {
	background-position: 228px 1px;
	background-image: url("../img/seal.png");
}

.credit {
	background-position: 154px -1px;	
	background-image: url("../img/doc-&-money.png");
}

.delivery-radio:checked ~ .serv-slide-keeper .delivery,
.warranty-radio:checked ~ .serv-slide-keeper .warranty,
.credit-radio:checked ~ .serv-slide-keeper .credit {
	display: flex;
}

.service-h3 {
	margin-top: -2px;
	margin-bottom: 25px;

	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c;
}

.service-h3,
.service-p {
	margin-left: -11px;
}

.delivery-h3,
.delivery-p {
	width: 275px;
}

.warranty-h3,
.warranty-p {
	width: 379px;
}

.credit-h3,
.credit-p {
	width: 280px;
}

.delivery-p,
.warranty-p {
	margin-bottom: 77px;
}

.request-btn {
	padding-left: 44px;
	padding-right: 44px;
	margin-top: 2px;
	margin-bottom: 98px;
	margin-left: -11px;
}

.lower-sections {
	min-height: 536px;
	padding-top: 82px;
	padding-bottom: 86px;
}

.comp-descr-h2,
.comp-descr-p1 {
	width: 519px;
}

.comp-descr-p2 {
	width: 387px;
}

.partners-list {
	margin-top: -1px;
	
	font-size: 18px;
	line-height: 20px;
}

.partners-list {
	padding-left: 36px;
	margin-top: -3px;
	margin-bottom: 36px;
}

.partner-item {
	position: relative;
	
	width: 139px;
	margin-bottom: 20px;
}

/* Делаю это без помощи ::before, т. к. в content нельзя добавить такое широкое тире */
.partner-item .bullet {
	position: absolute; /* Без этого нельзя сдвинуть буллит вниз относительно названия фирмы-партнера (оно начинает смещаться вместе с бУллитом) */
	
	top: -3px;
	left: -36px;
	
	font-family: Arial, sans-serif; /* Arial, потому что на Google-Fonts нет толщины 300 для Cuprum'а */
	font-size: 25px;
	font-weight: 300; 
	color: #ee3643;
}

.partner-item .top--3px {
	top: -4px;
}

.comp-detail-btn {
	width: 220px;
	padding-left: 40px;
	padding-right: 40px;
}

.contacts-h2,
.contacts-p {
	width: 180px;
}

.map-a {
	display: block;
	width: 300px;
	height: 158px;
	margin-top: 31px;
	margin-bottom: 40px;
	
	background-color: rgb(244, 242, 236);
}

.map-a:active {
	outline: 2px solid rgba(166, 199, 254, 0.9);
	/*box-shadow: 0 0 4px 4px rgb(0, 150, 0);*/
}

.write-us-btn {
	width: 300px;
	padding-left: 63px;
	padding-right: 58px;
}

.fixed-overlay {
    position: fixed;
    left: 0;
    top: -2000px;
	z-index: 4;

	display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
	transition: top;
	animation-duration: 0.6s;
}

.cart-ok-modal,
.map-modal {
    top: 0;
}

@keyframes bounce {
	0% { top: -2000px; }
	70% { top: 30px; }
	90% { top: -10px; }
	100% { top: 0; }
}

.show {
	display: block;
}

.show-animation {
	animation-name: bounce;
	top: 0;
}

@keyframes shake {
	0%, 100% { left: 0; }
	10%, 30%, 50%, 70%, 90% { left: -10px; }
	20%, 40%, 60%, 80% { left: 10px; }
}

.err-animation {
	animation-name: shake;
	animation-duration: 0.6s;
}

@keyframes rev-bounce {
	0% { top: 0; }
	40% { top: -200px; }
	60% { top: -300px; }
	80% { top: -400px; } 
	90% { top: -500px; } 
	100% { top: -2000px; }
}

.close-animation {
	animation-name: rev-bounce;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;

	overflow: auto;
}

.map-popup {
	width: 940px;
	height: 446px;
    margin-top: -223.1px;
	margin-left: -470px;
	overflow: hidden;
	
	background-position: top left;
	background-repeat: no-repeat;
	background-color: rgb(245, 243, 237);
	background-image: url(../img/map-big.png);
	
	box-shadow: 0px 0 14px 0 rgba(0, 0, 0, 0.55);
}

.iframe {
  position: relative;

  border: none;
}

.write-us-popup,
.cart-ok-popup {
	width: 620px;
	margin-left: -310px;
	
	border-top: 7px solid #ee3643;
}

.wnd-btn-panel {
	width: inherit;
	min-height: 39px;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 8px;
	padding-right: 8px;
	
	background-color: #ffffff;
}

.close-btn {
	position: relative;
	min-width: 21px;
	min-height: 21px;
	
	background-color: transparent;
	border: none;
	
	cursor: pointer;
}

.close-btn:active,
.close-btn:active:not(:hover) {
	outline: none;
}

.no-outline {
	outline: none;
}

.close-btn::before,
.close-btn::after {
	content: '';
	
	position: absolute;
	top: -4px;
	left: 7px;
	
	min-width: 4px;
	min-height: 27px;
	
	border-radius: 2pt;
	background-color: #ee3643;
}

.close-btn::before {
	transform: rotate(45deg);
}

.close-btn::after {
	transform: rotate(-45deg);
}

.close-map-btn {
	position: absolute;
	top: 10px;
	right: 8px;
}

.popup-lower {
	min-height: 112px;	
	padding-top: 37px;
	padding-bottom: 17px;	
	padding-left: 80px;
	padding-right: 80px;
	overflow: hidden;

	background-color: #f1f1f1;
}

.write-us-popup {
	height: 430px;
    margin-top: -215px;
	
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.w-us-p-high {
	min-height: 271px;
	padding-top: 8px;
	padding-bottom: 12px;
	padding-left: 80px;
	padding-right: 80px;
	overflow: hidden;	
	
	background-color: #ffffff;
}

.name-email-wrapper,
.order-shopp-wrapper {
	min-width: 460px;
	width: 460px;
}

.full-name-col,
.e-mail-col {
	width: 220px;	
	margin-top: -1px;
}

.full-name-label,
.e-mail-label,
.lett-text-label {
	display: block;
	width: 180px;
	margin-bottom: 9px;
	margin-left: 1px;
	
	font-size: 18px;
	line-height: 18px;
}

/*Псевдоклассы настройки параметров отображения текста плейсхолдера в разных браузерах*/

/* webkit: Safary, Chrome, Opera */
.full-name-field::-webkit-input-placeholder,
.e-mail-field::-webkit-input-placeholder,
.lett-text-field::-webkit-input-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}

/* Firefox 19+ */
.full-name-field::-moz-placeholder,
.e-mail-field::-moz-placeholder,
.lett-text-field::-moz-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	color: #a9a9a9;
} 

/* IE */
.full-name-field:-ms-input-placeholder,
.e-mail-field:-ms-input-placeholder,
.lett-text-field:-ms-input-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}

/* Edge */
.full-name-field::-ms-input-placeholder,
.e-mail-field::-ms-input-placeholder,
.lett-text-field::-ms-input-placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}	

.full-name-field,
.e-mail-field {
	width: 220px;
	height: 38px;
	padding-bottom: 3px;
	padding-left: 14px;
	margin-bottom: 21px;	
}

.full-name-field,
.e-mail-field,
.lett-text-field {
	border: solid 2px #dee3e4;
	border-radius: 3px;
}

.full-name-field:hover,
.e-mail-field:hover,
.lett-text-field:hover {
	border-color: #b5b5b5;	
}

.full-name-field:focus,
.e-mail-field:focus,
.lett-text-field:focus {
	outline: none;
	border-color: #ee3643;	
}

.letter-text-div {
}

.lett-text-field {
	min-width: 460px;
	max-width: 460px;
	min-height: 114px;
	max-height: 114px;
	padding-top: 8px;
	padding-left: 14px;	
	margin-bottom: 21px;
}

.send-button {
	width: 460px;
	margin-bottom: 20px;
	
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;	
}

.high-footer {
	padding-bottom: 49px;
	
	font-size: 18px;
	line-height: 24px;

	color: #f1f5f7;

	background-color: #32425c;
}

.comp-column {
	width: 326px;
	
	overflow: hidden;	
}

.footer-logo {
	padding-top: 20px;
	padding-bottom: 13px;
	padding-left: 40px;
	padding-right: 39px;
	margin-bottom: 33px;
}

.high-footer-p {
	width: 323px;
	margin-left: 3px;
}

.footer-tel-a:active,
.top-nav-a:active {
	color: rgba(241, 245, 247, 0.5);
}

.links-column {
	width: 547px;
	padding-top: 38px;	
	margin-bottom: -34px;
}

.top-nav,
.bottom-nav {
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 34px;
}

.top-nav {
	width: 547px;
}	

.top-nav-a:hover:not(:active),
.bottom-nav-a:hover:not(:active),
.lower-footer-a:hover:not(:active) {
	text-decoration: underline;
}

.high-footer-p,
.lower-footer-p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bottom-nav {
	width: 524px;
}

.bottom-nav-a,
.lower-footer-a {
	color: #ffd180;
}

.bottom-nav-a:active {
	color: rgba(255, 209, 128, 0.5);
}

.lower-footer {
	padding-top: 37px;
	padding-bottom: 31px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

.lower-footer-p {
	display: block;
}

.copyrights-p {
	width: 228px;
	margin-left: 1px;
	margin-right: 161px;
}

.social-list {
	width: 131px;
	margin-top: -2px;
	margin-bottom: -4px;
	margin-right: 120px;
}

.social-a {
	display: block;
	width: 41px;
	min-height: 41px;
	padding-left: 8px;
	padding-right: 7px;
	margin-bottom: 4px;	
	
	text-align: center;
	
	overflow: hidden;	
	background-color: #212a3a;
	border-radius: 50%;
}

.social-a:hover,
.social-a:active {
	background-color: #ee3643;
}

.vk-a {
	padding-top: 13px;
	padding-bottom: 9px;	
}

.fb-a,
.insta-a {
	padding-top: 10px;
	padding-bottom: 6px;
}

.fb-a {
	padding-bottom: 5px;
}

.insta-a {
	padding-bottom: 6px;
}

.feedback-p {
	width: 137px;
	margin-right: 52px;
}

.developer-p {
	width: 98px;
}

.lower-footer-a:active {
	color: #ee3643;
}

.breadcrumbs {	
	width: 940px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -43px;	
}

.breadcrumbs-item {
	position: relative;
	
	margin-left: 42px;
}

.breadcrumbs-item:first-child {
	margin-left: 41px;
}

.breadcrumbs-item:not(:last-child)::after {
	content: '';

	position: absolute;
	top: 3px;
	right: -26px;
	
	width: 8px;
	min-height: 12px;
	
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs-a,
.panel,
.catalog-h2 {
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs-a,
.panel,
.catalog-h2,
.filter-body {
	font-family: 'PT Sans', Arial, sans-serif;

	text-transform: uppercase;
	color: #000000;
}

.breadcr-home {
	display: inline-block;
	min-width: 13px;
	
	vertical-align: top;
}

.breadcr-home::before {
	content: '';

	position: absolute;
	top: 3px;
	
	
	width: 16px;
	min-height: 12px;

	background-position: left top;
	background-repeat: no-repeat;	
	background-image: url(../img/icon-home.svg);
}

.catalog-h1-panel {
	background-color: #f2f6f8;
}

.panel {
	min-height: 38px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 19px;
	padding-right: 17px;
	
	background-color: #f7f3ec;
	border-radius: 3px;
}

.filter-column {
	width: 221px;
	padding-left: 1px;
	margin-left: -1px;
	
	overflow: hidden;
}

.filter-head,
.filter-body,
.switch-name,
.price-lim-switch,
.price-range-panel,
.hr,
.switch-control,
.sw-contr-item {
	width: 220px;
}

.filter-head {
	margin-bottom: 11px;
}

.filter-h2 {
	margin-top: 2px;
}

.filter-body {
	font-size: 15px;
	line-height: 11px;
	
	padding-bottom: 78px;
}	

.catalog-h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	
	font-weight: normal;
}

.price-lim-switch {
	margin-bottom: 16px;
}

.price-lim-switch,
.manufact-switch,
.supp-type-switch {
	line-height: 30px;	
}

.switch-name {
	display: block;

	margin-bottom: 14px;
	
	font-size: 17px;
	font-weight: bold;
}

.filter-fieldset {
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;	
	padding-left: 0;
	padding-right: 0;
	
	border: none;
}

.price-range-panel {
	min-height: 80px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-bottom: 37px;
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #f7f3ec;
	border-radius: 5px;
}

.styled-price-range {
	position: relative;
	
	width: 180px;
	height: 2px;
	margin-bottom: 2px;
	
	border-left: 0px solid #d7dcde;
	border-right: 20px solid #d7dcde;
	background-color: rgb(0, 203, 117);
}

.styled-price-range::before {
	content: '';

	position: absolute;
	top: -9px;
	left: 140px;
	
	width: 20px;
	height: 20px;
	
	background-color: rgb(172, 172, 172);
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 0 0 rgb(225, 222, 217);
	
	cursor: pointer;
}

.styled-price-range::after {
	content: '';	

	position: absolute;
	top: -9px;
	
	width: 20px;
	height: 20px;
	
	background-color: rgb(172, 172, 172);
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 0 0 rgb(225, 222, 217);	
	
	cursor: pointer;	
}

.price-field {
	width: 95px;

	padding-top: 9px;
	padding-bottom: 11px;
	margin-bottom: 9px;

	font-size: 17px;
	text-align: center;
	
	border: none;	
}

.min-price-field {
	padding-left: 23px;
}

.max-price-field {
	padding-left: 20px;
}

.price-field,
.dash {
	line-height: 18px;
}

.dash {
	padding-top: 9px;
	padding-left: 2px;
	margin-bottom: 1px;
	
	font-size: 16px;
	color: #444444;	
}

.hr {
	height: 1px;
	margin-top: 0;
	margin-bottom: 16px;
	
	background-color: rgb(230, 230, 230);
	border: none;
}

.manufact-switch {
	margin-bottom: 22px;
}

.supp-type-switch {
	margin-top: 1px;
	margin-bottom: 78px;
}

.supp-type-switch .switch-name {
	letter-spacing: 0.17px;
}

.switch-control {
	font-size: 15px;
	line-height: 20px;
	
	margin-bottom: -20px;
}

.manufact-label,
.supp-type-label {
	position: relative;
	
	display: block;
	width: 190px;
	margin-bottom: 20px;
	padding-left: 34px;
}

.checkbox-on-icon,
.checkbox-off-icon,
.radio-on-icon,
.radio-off-icon {	
	position: absolute;
	top: -2px;
}

.checkbox-on-icon,
.checkbox-off-icon {
	left: 0;
}

.radio-on-icon,
.radio-off-icon {
	left: -1px;	
}

.sw-contr-item:first-child .checkbox-on-icon,
.sw-contr-item:first-child .checkbox-off-icon,
.sw-contr-item:nth-child(2) .checkbox-on-icon,
.sw-contr-item:nth-child(2) .checkbox-off-icon {
	top: -1px;
}

.sw-contr-item:first-child .radio-on-icon,
.sw-contr-item:first-child .radio-off-icon {
	top: -3px;	
}

.manufact-label:hover,
.supp-type-label:hover,
.manufact-label:hover .checkbox-on-icon,
.manufact-label:hover .checkbox-off-icon,
.supp-type-label:hover .radio-on-icon,
.supp-type-label:hover .radio-off-icon {
	fill: #b5b5b5;
	
	cursor: pointer;
}

.man-checkbox:disabled + .manufact-label .checkbox-on-icon,
.man-checkbox:disabled + .manufact-label .checkbox-off-icon,
.supp-type-radio:disabled + .supp-type-label .radio-on-icon,
.supp-type-radio:disabled + .supp-type-label .radio-off-icon {
	fill: rgb(234, 234, 234);

	cursor: default;
}

.man-checkbox:disabled + .manufact-label,
.supp-type-radio:disabled + .supp-type-label {
	color: rgba(0, 0, 0, 0.4);
	
	cursor: default;
}

.catalog-btn {
	display: block;
	min-height: 38px;
	padding-top: 9px;
	padding-bottom: 9px;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.cat-rect-btn {
	width: 140px;
	padding-left: 22px;
	padding-right: 20px;
}

.filter-btn {
	padding-top: 10px;
	padding-bottom: 8px;	
	padding-left: 19px;
	margin-bottom: 22px;
}

.sort-prod-col {
	margin-right: 0;
}

.sort-prod-col,
.sorter {
	width: 700px;
}

.sorter {
	padding-bottom: 8px;
	margin-bottom: 20px;
	
	overflow: hidden;
}

.product-list {
	margin-bottom: -20px;
}

.sort-head-col {
	width: 201px;
	padding-right: 17px;
}

.sort-body-col {
	width: 443px;
	
	overflow: hidden;
}

.sort-kind-col,
.sort-type-col {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;

	background-color: transparent;
	border: 0;	
}

.sort-kind-col,
.sort-type-col,
.asc-desc-wrapper {
	overflow: hidden;
}

.sort-kind-col {
	width: 414px;
	margin-left: -29px;
	margin-right: -30px;
}

.sort-type-col {
	width: 43px;

	font-size: 15px;	
}

.asc-desc-wrapper {
	width: 47px;
	margin-left: -2px;
	margin-right: -2px;	
}

.sort-kind-item:nth-child(n) {
	margin-left: 30px;
	margin-right: 30px;	
}

.by-price-item {
	margin-right: 41px;
}

.by-type-item {
	margin-right: 35px;
}

.ascend-item,
.descend-item {
	transform: scaleX(1.1);
}

.sort-kind-label, /* Для отмены outline'а при даблклике */
.sort-kind-label:active,
.sort-type-label, /* Для отмены outline'а при даблклике */
.sort-type-label:active {
	outline: none;
}

.by-price-item .sort-kind-label,
.by-type-item .sort-kind-label,
.by-funct-item .sort-kind-label {
	line-height: 15px; /* Чтобы уменьшить расстояние от текста до нижней рамки */
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;	
}

.ascend-item .sort-type-label,
.descend-item .sort-type-label {
	color: #c5c5c5;
}

.sort-kind-radio:active + .sort-kind-label,
.sort-type-radio:active + .sort-type-label {
	color: #ee3643; /* Почему-то не работает */
	text-decoration: none;  /* Почему-то не работает */
}

.by-price-radio:checked + .by-price-label,
.by-type-radio:checked + .by-type-label,
.by-funct-radio:checked + .by-funct-label {
	color: #ee3643;
	border-bottom: none;
}

.ascend-radio:checked + .ascend-label,
.descend-radio:checked + .descend-label {
	color: #ee3643;
}

.by-price-radio:not(:checked):hover + .by-price-label,
.by-type-radio:not(:checked):hover + .by-type-label,
.by-funct-radio:not(:checked):hover + .by-funct-label {
	color: #000000;
	
	border-bottom: 1px solid #ee3643;	
	cursor: pointer;
}

.ascend-radio:not(:checked):hover + .ascend-label,
.descend-radio:not(:checked):hover + .descend-label {
	color: rgb(30, 25, 26);
	
	border-bottom: none;	
	cursor: pointer;
}

.pagination {
	width: 700px;
	margin-top: 52px;
	margin-bottom: 50px;
	margin-right: -10px;
}

.pagination-item:nth-child(n) {
	margin-bottom: 10px;
	margin-right: 10px;
}	

.page-num-btn {
	min-width: 38px;
	max-width: 140px;
	padding-left: 7px;
	padding-right: 5px;
}

.active-btn {
	color: #ffffff;
	
	background-color: #ee3643;
	border-color: #ee3643;
}

.pagination :not(.active-btn):hover {
	border-color: #bdc6ca;
}

.pagination .catalog-btn:active {
	border-color: #ee3643;
}
	
.cursor-pointer {
	cursor: pointer;
}

.about-perfo {
	padding-top: 68px;
	padding-bottom: 44px;
	
	background-color: #f4f7f9;
}

.about-perfo-h2 {
	width: 519px;
}

.about-perfo-p {
	width: 912px;
}

.width-855px {
	width: 855px;
}

.cart-ok-popup {	
	height: 282px;
	margin-top: -141px;
	
	box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.cart-ok-p-high {
	min-height: 123px;
	padding-top: 25px;
	padding-bottom: 65px;	
	padding-left: 179px;
	padding-right: 100px;
	overflow: hidden;
	
	background-color: #ffffff;
}

/* Уведомляющая надпись */
.notif-message {
	position: relative;
	
	display: block; /* Для того, чтобы можно было добавить before и он был видимым */
	font-size: 30px;
	line-height: 30px;
}

.notif-message::before {
	content: '';
	
	position: absolute;
	top: -17px;
	left: -98px;

	width: 66px;
	height: 66px;
	
	background-size: 66px 66px;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url(../img/icon-mark.svg);
}

.order-btn-col,
.shopp-btn-col,
.place-order-btn, /* Разместить заказ */
.go-on-shopp-btn {
	width: 220px;
}

.place-order-btn,
.go-on-shopp-btn {
	padding-left: 4px;
	margin-bottom: 20px;
	
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;	
}

.go-on-shopp-btn {
	color: #000000;
	background-color: #ffffff;
}